body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgba(98, 98, 98, 1);
  text-decoration: none;
}
strong {
  font-weight: bold;
}

#main {
  background-color: #4F86C6;
  color: white;
  width: 25%;
  height: 100%;
  position: fixed;
  margin: 0;
  float: left;
  /*box-shadow: 2px 0px 5px 0 rgba(0,0,0,0.5);*/
}

#main .me {
  text-align: center;
  margin: calc(50% - 100px) auto 0 auto;
  position: relative;
  font-family: 'Bitter', serif;
}
#main .me h2 {
  font-weight: bold;
  max-width: 282px;
  font-size: 28px;
  padding: 0 2%;
  margin: 20px auto;
}

#main .me img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

#main .social {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#main .social a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-right: 4px;
}

#main #navigate {
  position: relative;
  text-align: center;
}
#main #navigate ul {
  list-style: none;
  margin-top: 50px;
  color: #30306D;
}
#main #navigate ul li {
  display: block;
  font-size: 15px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  padding-bottom: 5px;
}
#main #navigate ul li a {
  text-decoration: none;
  color: inherit;
}
#main #navigate ul li a:hover {
  font-size: 16px;
}

.active {
  color: white !important;
  font-size: 16px !important;
}

.heading {
  font-family: 'Passion One', cursive;
  font-size: 82px;
  font-weight: 400;
  color: #6C49B8;
  max-width: 900px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.separator {
  height: 1px;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  background-color: #4F86C6;
}

.paragraph {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  margin: 0px auto;
  color: #555;
  line-height: 48px;
  max-width: 900px;
}

#content {
  float: right;
  width: 75%;
}

#content #about {
  margin: 50px 20px 0px 20px;
  padding-bottom: 20px;
}
#content #about .heading {
  font-size: 92px;
}
#content #about .paragraph {
  font-size: 48px;
  margin-top: 48px;
}

#content #portfolio {

  padding: 50px 20px 50px 20px;
  background-color: #eee;
}

#content .portfolio-wrapper {
  background-color: #dedede;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: center;
}
#content .portfolio-wrapper a .exhibit {
  width: 380.1px;
  margin: 20px 10px 0 10px;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  color: #30306D;
  transition: 0.25s ease-out;
}
#content .portfolio-wrapper .exhibit img {
  width: 380.1px;
  height: 239.7px;
}
#content .portfolio-wrapper a .exhibit:hover {
    background-color: white;
}

#content #find-me {
  height: 100%;
  max-height: 700px;
  padding: 50px 20px 0px 20px;
}



@media screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }

  #main {
    top: 0;
    width: 100%;
    height: auto;
    float: none;
    position: fixed;
    z-index: 2;
  }

  #main .me {
    position: static;;
    margin: 0;
    padding: 0;
    display: inline;
  }
  #main .me img {
    height: 75px;
    width: 75px;
    position: static;
    margin: 10px 10px;
    padding: 0;
    float: left;
  }
  #main .me h2 {
    display: none;
  }
  #main .me h2.mobile {
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    float: left;
  }

  #main #navigate {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 0px;
    display: inline-block;
    margin-right: 5px;
  }
  #main #navigate ul {
    display: inline;
    margin: 0;
    top: 0;
  }
  #main #navigate ul li {
    display: inline-block;
    padding-right: 5px;
    font-size: 13px;
  }
  #main #navigate ul li a:hover {
    font-size: 13px;
    color: white;
  }
  .active {
    font-size: 13px !important;
  }

  #main .social {
    display: none;
    position: absolute;
    top: 0;
    transform: translateX(0);
  }
  #main .social a {
    padding-bottom: 10px;
  }

  #content {
    position: absolute;
    z-index: 1;
    top: 90px;
    float: none;
    width: 100%;
  }
  #content #about .paragraph {
    font-size: 32px;
  }

  #content .portfolio-wrapper a .exhibit {
    width: 240.05px;
  }
  #content .portfolio-wrapper .exhibit img {
    width: 240.05px;
    height: 169.85px;

  }

  #content .paragraph {
    font-size: 20px;
  }
}
